.line {
  margin-top: 40px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

ol {
  font-size: 30px;
}

video {
  width: 1440px;
  height: auto;
  margin-top: 40px;
  margin-left: 40px;
}

li {
  margin-top: 10px;
}
