/*In my concept , the main focus will be the opposite between two side : bad and good. So for the color
choice, i want each side have their unique color so i choose bright red and whitefor each side which can
clearly display the purpose of each side. Because of that, for the background of the page i choose light black,
for the good side is dark grey and for the bad side is dark red*/
body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 40px;
  font-family: "Orbitron", sans-serif;
}

body.noscroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
/*Style for page title part*/

.page-title {
  text-align: center;
  font-size: 100px;
  margin-top: 0;
  font-family: "Saira Stencil One", sans-serif; /*I choose this font because it bring the fantasy and sci-fi vibes at the same time*/
}

.page-description {
  text-align: center;

  font-size: 30px;
}

.logo-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.side-logo {
  transition: transform 0.3s ease;
}

.side-logo:hover {
  transform: scale(1.1);
}
/*Style for each side name, logo, desciption*/

.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 60px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.top-text-good {
  color: white;
  font-size: 70px;
  font-weight: bold;
  font-family: "Saira Stencil One", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}
.top-text-bad {
  color: #ed2124;
  font-size: 70px;
  font-weight: bold;
  font-family: "Saira Stencil One", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.info-box-good {
  background-color: #2f2f2f;
  border: 10px solid #000000;
  border-radius: 10px;
  padding: 0 20px;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

.info-box-bad {
  background-color: #391212;
  border: 10px solid #000000;
  border-radius: 10px;
  padding: 0 20px;
  max-width: 500px;
  color: #ed2124;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

/*Style for character box*/
.character-grid-good {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.character-row {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin-bottom: 60px;
}

.character-box-bad {
  position: relative;
  overflow: visible;
  width: 300px;
  height: 400px;
}
.character-box-good {
  position: relative;
  overflow: visible;
  width: 300px;
  height: 400px;
}

.character-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.character-logo-good {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}
.character-logo-bad {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.character-box-good:hover .character-logo-good {
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px white);
  z-index: 3;
}
.character-box-bad:hover .character-logo-bad {
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px #ed2124);
  z-index: 3;
}

.hover-info-bad {
  position: relative;
  display: inline-block;
}

/*Style for small window popup when hover*/
.tooltip-left-bad {
  position: absolute;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #391212;
  color: #ed2124;
  padding: 0 10px;
  border-radius: 8px;
  border: #000000 5px solid;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
  white-space: normal;
  max-width: 300px;
}

.hover-info-bad:hover .tooltip-left-bad {
  opacity: 1;
}

.hover-info-good {
  position: relative;
  display: inline-block;
}

.tooltip-left-good {
  position: absolute;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2f2f2f;
  color: white;
  padding: 0 10px;
  border-radius: 8px;
  border: #000000 5px solid;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
  white-space: normal;
  max-width: 300px;
}

.hover-info-good:hover .tooltip-left-good {
  opacity: 1;
}
/*Style for big window popup when click*/
/*In this window, a big avatar appear on the left and everything else on the right. At first, my idea was
the big avatar on top of the window and you scroll down for everything else but i do not like that layout
because in the popup window you still have to scroll down to see all infromation is not a good idea*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup.hidden {
  display: none;
}

.popup-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 40px 60px;
  box-sizing: border-box;
  gap: 60px;
  color: white;
}

.popup-content .left {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.popup-content .left img {
  height: auto;
  width: 70vh;
  object-fit: contain;
}

.popup-content .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
  color: white;
}

#popup-title {
  font-family: "Saira Stencil One", sans-serif;
  font-size: 47px;
  margin: 20px 0;
  color: #ffffff;
}

#popup-weapon-img {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}

#popup-description {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  max-width: 600px;
  color: #ffffff;
}

.bad-popup #popup-title,
.bad-popup #popup-description {
  color: #ed2124;
}
/*Style for close button*/
.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 36px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  transition: transform 0.2s ease;
}

.bad-popup .close-button {
  color: #ed2124;
}

.close-button:hover {
  transform: scale(1.2);
  color: #ed2124;
}
.bad-popup .close-button:hover {
  transform: scale(1.2);
  color: white;
}
